<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accesibilidad</title>
    <!--    Carga los estilos CSS de bootstrap-->
    <div th:insert="fragments/base :: css"></div>
</head>
<body><!--Carga el NAV-->
<div th:insert="fragments/base :: nav"></div>
<!--Escribir contenido-->
<div class="card-body">
    <div class="carousel slide">
        <img class="d-block w-100" src="img/banner.png" height="470px" dir="auto">
    </div>
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="display-1 text-center bold">Accesibilidad</h1>
                    <p class="text-center mb-auto">En general, la accesibilidad se refiere a la posibilidad de acceder a
                        cierta cosa o
                        a la facilidad para hacerlo. El término accesibilidad se utiliza para hacer referencia al grado
                        o nivel en que cualquier persona, independientemente de su capacidad física o cognitiva, puede
                        utilizar algo, disfrutar de un servicio o utilizar una infraestructura </p>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:insert="fragments/base :: js"></div>
</body>
</html>